Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-*,
  readability-*,
  cppcoreguidelines-*,
  google-*,-google-readability-braces-around-statements
WarningsAsErrors: ''
HeaderFilterRegex: 'cpp/.*|include/.*'
FormatStyle: none
