/**
 * Styles specific to the search.html page
 */

.search .search-container {
    margin-bottom: 12px;
}

.search #searchInput {
    display: block;
    margin-top: 6px;
    width: 100%;
    overflow: hidden;
    resize: none;
}

.search .search-actions {
    margin-top: 8px;
}

.search .search-help {
    margin-top: 8px;
}

.search #statusLine {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.search #statusSpinner {
    display: none;
}